{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block h1 %}Liste des sorties{% endblock %}

{% block body %}
    {% form_theme filtresForm 'bootstrap_5_layout.html.twig' %}
    {{ form_start(filtresForm) }}
    <div class="row">
        <div class="col">
            {{ form_row(filtresForm.site) }}
            {{ form_row(filtresForm.dateDebut) }}
            {{ form_row(filtresForm.dateFin)}}
        </div>
        <div class="col">
            <br><br>
        {{ form_row(filtresForm.organisateur) }}
        {{ form_row(filtresForm.inscrit) }}
        {{ form_row(filtresForm.nonInscrit) }}
        {{ form_row(filtresForm.passees, {'label': 'Sorties passées', 'attr': {'checked': false}}) }}
            {{ form_end(filtresForm) }}
        </div>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="tableau_sorties table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sortie</th>
                    <th scope="col">Date début sortie</th>
                    <th scope="col">Clôture inscription</th>
                    <th scope="col">Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sortie in sorties %}

                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/y H:i') }}</td>
                        <td>{{ sortie.dateLimiteInscription|date('d/m/y') }}</td>
                        <td>
                            {{ sortie.participe|length }}/{{ sortie.nbInscriptionMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% if sortie.participe.contains(app.user) %}
                                    X
                            {% endif %}
                        </td>
                        <td>
                            {% if (sortie.participe.contains(app.user)) or (app.user.roles[0] =="ROLE_ADMIN") or (sortie.organisateur == app.user)%}
                                <form action="{{ path('app_profil') }}" method="POST">
                                    <input type="hidden" name="id" value="{{ sortie.organisateur.id }}" />
                                    <button type="submit" class="btn btn-link" >{{ sortie.organisateur.pseudo }}</button>
                                </form>
                            {% else %}
                                {{ sortie.organisateur.pseudo }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="customBTN" href="{{ path('app_details', {'id': sortie.id}) }}">Afficher</a>

                            {% if ((app.user and sortie.organisateur == app.user) or app.user.roles[0] =="ROLE_ADMIN") and sortie.etat.id ==1%}
                                <a class="customBTN" id="publier" href="{{ path('app_publier', {'id': sortie.id}) }}">Publier</a>
                                <a class='customBTN' href="{{ path('app_modifier_sortie', {'id': sortie.id}) }}">Modifier la sortie</a>
                            {% endif %}

                            {% if app.user and sortie.etat.id ==2 %}

                                {% if sortie.participe.contains(app.user) and sortie.dateHeureDebut > ADJ  %}
                                    <a class="customBTNred" id="desinscrire" href="{{ path('app_desinscrire', {'id': sortie.id}) }}">Se désinscrire</a>
                                {% elseif sortie.dateLimiteInscription > ADJ  and sortie.participe|length < sortie.nbInscriptionMax %}
                                    <a class="customBTN" id="inscrire" href="{{ path('app_inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                                {% endif %}
                                {% if (app.user and sortie.organisateur == app.user) or app.user.roles[0] =="ROLE_ADMIN"%}
                                    <a class='customBTNred' href="{{ path('app_annuler_sortie', {'id': sortie.id}) }}">Annuler la sortie</a>
                                {% endif %}
                            {% endif  %}


                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <a class="customBTN" href="{{ path('app_sorties') }}">Créer une sortie</a>
{% endblock %}

{% block script %}
{% endblock %}