{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Admin - Sites{% endblock %}

{% block h1 %}Liste des sorties{% endblock %}

{% block body %}

    {{ form_start(filtresForm) }}

        {{ form_row(filtresForm.site) }}
        {{ form_row(filtresForm.dateDebut) }}
        {{ form_row(filtresForm.dateFin) }}
        {{ form_row(filtresForm.organisateur) }}
        {{ form_row(filtresForm.inscrit) }}
        {{ form_row(filtresForm.nonInscrit) }}
        {{ form_row(filtresForm.passees, {'label': 'Sorties passées', 'attr': {'checked': false}}) }}

    {{ form_end(filtresForm) }}

    <div class="tableau_sorties table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sortie</th>
                    <th scope="col">Date</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sortie in sorties %}
                    {% set est_inscris="false" %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/y H:i') }}</td>
                        <td>{{ sortie.dateLimiteInscription|date('d/m/y') }}</td>
                        <td>{{ sortie.inscription|length }}/{{ sortie.nbInscriptionMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{% if app.user %}
                                {% for inscription in inscriptions %}
                                    {% set est_inscris="false" %}
                                    {% if inscription.participant.id  ==  app.user.id and sortie.id ==inscription.sortie.id %}
                                        X {% set est_inscris="true" %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td> {{ sortie.organisateur.pseudo }}</td>
                        <td>
                            <a class="customBTN" href="{{ path('app_details', {'id': sortie.id}) }}">Afficher</a>
                            {% if app.user and sortie.etat.libelle =="Ouverte" and est_inscris=="false" %}
                                <a class="customBTN" href="{{ path('app_inscrire', {'id': sortie.id}) }}">S'inscrire</a>
                            {% elseif est_inscris=="true"%}
                                <a class="customBTN"href="{{ path('app_desinscrire', {'id': sortie.id}) }}">Se désinscrire</a>
                            {% endif %}
                            {% if app.user and sortie.organisateur == app.user %}
                                <a class='customBTN' href="{{ path('app_annuler_sortie', {'id': sortie.id}) }}">Annuler la sortie</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if app.user %}
        <a class="customBTN" href="{{ path('app_sorties') }}">Créer une sortie</a>
    {% else %}
        {# Si l'utilisateur n'est pas connecté, rediriger vers la page de login #}
        <a class="customBTN" href="{{ path('app_login') }}">Créer une sortie</a>
    {% endif %}

{% endblock %}

{% block script %}{% endblock %}