{% extends "base.html.twig" %}

{% block h1 %}Gestion des sites{% endblock %}

{% block body %}

        <div class="tableau_sorties table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Site</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{ site.nom }}</td>
                        <td>
                            <a href="#">Modifier</a>
                            <a href="#">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                {{ form_start(sitesForm) }}
                    <tr>
                        <td>{{ form_widget(sitesForm.nom) }}</td>
                        <td>
                            {{ form_widget(sitesForm.ajouter) }}
                        </td>
                    </tr>
                {{ form_end(sitesForm) }}
                </tbody>
            </table>
        </div>

{% endblock %}