{% extends "base.html.twig" %}

{% block h1 %}Gestion des villes{% endblock %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="tableau_sorties table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code postal</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <form action="{{ path('app_admin_villes') }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{ ville.nom }} ?')">
                            <input type="hidden" name="delete" value="{{ ville.id }}" />
                            <button type="submit" class="customBTNred">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {{ form_start(villesForm) }}
            <tr>
                <td>{{ form_widget(villesForm.nom) }}</td>
                <td>{{ form_widget(villesForm.codePostal) }}</td>
                <td>
                    {{ form_widget(villesForm.ajouter) }}
                </td>
            </tr>
            {{ form_end(villesForm) }}
            </tbody>
        </table>
    </div>

{% endblock %}