{% extends "base.html.twig" %}

{% block h1 %}AddSortie{% endblock %}

{% block body %}

    {{ form_start(formSortie) }}

    <div class="row">
        <!--a gauche-->
        <div class="col">

            {{ form_row(formSortie.nom) }}</br>
            {{ form_row(formSortie.dateHeureDebut) }} </br>
            {{ form_row(formSortie.dateLimiteInscription) }}</br>
            {{ form_row(formSortie.nbInscriptionMax) }}</br>
            {{ form_row(formSortie.duree) }}</br>
            {{ form_row(formSortie.infosSortie) }} </br>
            {#{{ form_row(formSortie.lieu.nom) }} #}


        </div>
        <!--à droite-->
        <div class="col">

             {{ form_widget(formSortie) }}

        </div>


    </div>



{#  {{   form(formSortie) }} #}


{% endblock %}

{% block script %}{% endblock %}