{% extends "base.html.twig" %}

{% block h1 %}AddSortie{% endblock %}

{% block body %}
    {% form_theme formSortie 'bootstrap_5_layout.html.twig' %}
    {{ form_start(formSortie) }}

    <div class="row">
        <!--a gauche-->
        <div class="col">

            {{ form_row(formSortie.nom) }}
            {{ form_row(formSortie.dateHeureDebut) }}
            {{ form_row(formSortie.dateLimiteInscription) }}
            {{ form_row(formSortie.nbInscriptionMax) }}
            {{ form_row(formSortie.duree) }}
            {{ form_row(formSortie.infosSortie) }}

        </div>
        <!--à droite-->
        <div class="col">
            <div>
                <label>Ville Organisatrice</label>
                <input type="text" id="rue" required="required" class="form-control" disabled value="{{ sortie.site.nom }}">
            </div>

            {{ form_row(formSortie.ville) }}

            {{ form_row(formSortie.lieu) }}
            <div>
                <label>Rue</label>
                <input type="text" id="rue" required="required" class="form-control" disabled>
            </div>
            <div>
                <label>Code postal</label>
                <input type="text" id="rue" required="required" class="form-control" disabled>
            </div>
            <div>
                <label>Latitude</label>
                <input type="text" id="rue" required="required" class="form-control">
            </div>
            <div>
                <label>Longitude</label>
                <input type="text" id="rue" required="required" class="form-control">
            </div>

            {{ form_row(formSortie.organisateur) }}
        </div>
        {{ form_row(formSortie.submit) }}
    </div>



{#  {{   form(formSortie) }} #}


{% endblock %}

{% block script %}{% endblock %}