{% extends "base.html.twig" %}

{% block h1 %}AddSortie{% endblock %}

{% block body %}

    {{ form_start(formSortie) }}

    <div class="row">
        <!--a gauche-->
        <div class="col">

            {{ form_row(formSortie.nom) }}
            {{ form_row(formSortie.dateHeureDebut) }}
            {{ form_row(formSortie.dateLimiteInscription) }}
            {{ form_row(formSortie.nbInscriptionMax) }}
            {{ form_row(formSortie.duree) }}
            {{ form_row(formSortie.infosSortie) }}
            {# {{ form_row(formSortie.lieu.nom) }} #}

        </div>
        <!--à droite-->
        <div class="col">
            <labe>le reste</labe>
            {{ form_widget(formSortie) }}
        </div>


    </div>



{#  {{   form(formSortie) }} #}


{% endblock %}

{% block script %}{% endblock %}