{% extends "base.html.twig" %}

{% block h1 %}AddSortie{% endblock %}

{% block body %}
    {% form_theme formSortie 'bootstrap_5_layout.html.twig' %}
    {{ form_start(formSortie) }}

    <div class="row">
        <!--a gauche-->
        <div class="col">

            {{ form_row(formSortie.nom) }}</br>
            {{ form_row(formSortie.dateHeureDebut) }} </br>
            {{ form_row(formSortie.dateLimiteInscription) }}</br>
            {{ form_row(formSortie.nbInscriptionMax) }}</br>
            {{ form_row(formSortie.duree) }}</br>
            {{ form_row(formSortie.infosSortie) }} </br>



        </div>
        <!--à droite-->
        <div class="col">
            {{ form_row(formSortie.site) }}

            {{ form_row(formSortie.ville) }}

            {{ form_row(formSortie.lieu) }}

            {{ form_row(formSortie.organisateur) }}


        </div>

        {{ form_row(formSortie.submit) }}
    </div>



{#  {{   form(formSortie) }} #}


{% endblock %}

{% block script %}{% endblock %}