{% extends "base.html.twig" %}

{% block h1 %}AddSortie{% endblock %}

{% block body %}


    {% form_theme formSortie 'bootstrap_5_layout.html.twig' %}
    {{ form_start(formSortie) }}

    <div class="row">
        <!--a gauche-->
        <div class="col">

            {{ form_row(formSortie.nom) }}
            {{ form_row(formSortie.dateHeureDebut) }}
            {{ form_row(formSortie.dateLimiteInscription) }}
            {{ form_row(formSortie.nbInscriptionMax) }}
            {{ form_row(formSortie.duree) }}
            {{ form_row(formSortie.infosSortie) }}

        </div>
        <!--à droite-->
        <div class="col">
            <div>
                <label>Ville Organisatrice</label>
                <input type="text" id="ville" required="required" class="form-control" disabled value="{{ sortie.site.nom }}">
            </div>

            {{ form_row(formSortie.ville) }}

            {# champ de saisie inputNomLieu #}
            <div class="form-group">
                <label for="selectNomLieu">lieu</label>

                <select class="form-select" id="selectNomLieu">
                </select>
            </div>

            <div>
                <label>Rue</label>
                <input type="text" id="rue" required="required" class="form-control">
            </div>
            <div>
                <label>Code postal</label>
                <input type="text" id="CodePostal" required="required" class="form-control" value="" disabled>
            </div>
            <div>
                <label>Latitude</label>
                <input type="text" id="latitude" class="form-control">
            </div>
            <div>
                <label>Longitude</label>
                <input type="text" id="longitude"  class="form-control">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col">
                <input type="submit" class="customBTN" value="Enregistrer" name="action">
            </div>
            <div class="col">
                <input type="submit" class="customBTN" value="Publier" name="action">
            </div>
            <div class="col">
                <input type="submit" class="customBTN" value="Annuler" name="action">
            </div>
    </div>

    {{ form_end(formSortie) }}

{% endblock %}

{% block script %}
    <script>
        /* sur changement de la données dans la liste deroulante de ville ...*/
        $(document).on('change', '#form_type_sorties_ville', function () {
            /* chargement des lieux de la ville concernée */
          chargerCP();
          chargerLieux();
        })
        $(document).on('change', '#selectNomLieu', function () {
            /* chargement des des infos concernant le lieu selectionné */
            chargerInfosLieu();
        })

        /* fonction permettant de recuperer le code postal en fonction de la ville selectionnée */
        function chargerCP(){
            jQuery.ajax({
                method: "GET",
                url: "/sortir/public/ajax/rechercheCodePostal", /* appel de la fonction rechercheLieuByVille du controlleur AjaxController*/
                data: {
                    'ville_id' : $('#form_type_sorties_ville').val() //recupération de l'id de la ville dans la data
                }
            }).done(function (response) {
                $('#CodePostal').html(''); //initialisation de du code postal

                $('#CodePostal').val(response);
            })
        }

        /* fonction permettant de recuperer le code postal en fonction de la ville selectionnée */
        function chargerLieux(){
            jQuery.ajax({
                method: "GET",
                url: "/sortir/public/ajax/rechercheLieux",
                data: {
                    'ville_id' : $('#form_type_sorties_ville').val() //recupération de la ville dans la data
                }
            }).done(function (response) {
                let selectElement= $('#selectNomLieu');
                selectElement.html('');
                for(let i = 0 ; i < response.length ; i++) {
                    let lieu = response[i];
                    let option = $('<option value="'+ lieu.nom +'">'+lieu.nom+'</option>');
                    selectElement.append(option);
                }
                $('#rue').val(response[0].rue);
                $('#latitude').val(response[0].latitude);
                $('#longitude').val(response[0].longitude);
            })
        }

        function chargerInfosLieu(){
            jQuery.ajax({
                method: "GET",
                url: "/sortir/public/ajax/rechercheInfosLieux",
                data: {
                    'lieu_nom' : $('#selectNomLieu').val() //recupération de la ville dans la data
                }
            }).done(function (response) {
                console.log(response);
                $('#rue').val(response.rue);
                $('#latitude').val(response.latitude);
                $('#longitude').val(response.longitude);
            })
        }
    </script>
{% endblock %}