{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ sortie.nom }}{% endblock %}

{% block h1 %} Détails de la sortie : {{ sortie.nom }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-sm-around">
            <div class="row">
                <div class="col-sm">
                    <p>Nom de la sortie : {{ sortie.nom }}</p>
                    <p>Date et heure : {{ sortie.dateHeureDebut|date('d/m/y H:i') }} </p>
                    <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/y') }}</p>
                    <p>Nombre de places : {{ sortie.participe|length }}/{{ sortie.nbInscriptionMax }}</p>
                    <p>Durée : {{ sortie.duree }} heures</p>
                    <p>Description et infos : {{ sortie.infosSortie }}</p>
                </div>
                <div class="col-sm">
                    <p>Organisateur : {{ sortie.organisateur.pseudo }}</p>
                    <p>Ville organisatrice : {{ sortie.site.nom }}</p>
                    <p>Lieu : {{ sortie.lieu.nom }}</p>
                    <p>Rue : {{ sortie.lieu.rue }}</p>
                    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
                    <p>Latitude : {{ sortie.lieu.latitude }}</p>
                    <p>Longitude : {{ sortie.lieu.longitude }}</p>
                </div>
            </div>
        </div>
    </div>



    <div class="container participants">

        {% if participants is not empty %}

            <h2>Liste des participants</h2>

            <div class="tableau_sorties table-responsive">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ participant.pseudo }}</td>
                            <td>{{ participant.nom }} {{ participant.prenom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <p>Aucun participant inscrit pour le moment.</p>
        {% endif %}
    </div>

{% endblock %}