{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mon profil{% endblock %}

{% block body %}
    {% form_theme formProfil 'bootstrap_5_layout.html.twig' %}
    {{ form_start(formProfil) }}
    <div class="d-flex justify-content-center align-items-center container">
        <div class="col-auto">
            <h1>Mon profil</h1>
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_row(formProfil.pseudo) }}
            {{ form_row(formProfil.prenom) }}
            {{ form_row(formProfil.nom) }}
            {{ form_row(formProfil.telephone) }}
            {{ form_row(formProfil.mail) }}
            {{ form_row(formProfil.site) }}
            <div>
                <img clas=''src="{{ asset('photo/') ~ app.user.photo }}">
                
            </div>
            {{ form_row(formProfil.photo) }}
            <div class="text-center">
                <input type="submit" class="customBTN d-inline-block" value="Modifier">
                <a class="customBTNred d-inline-block" href="{{ path('app_home') }}">Annuler</a>
            </div>
            {{ form_end(formProfil) }}<br>
            <a href="{{ path('app_password') }}">Modifier mon mot de passe</a>
        </div>
    </div>
{% endblock %}