{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mot de passe{% endblock %}

{% block body %}
    {% form_theme formMdp 'bootstrap_5_layout.html.twig' %}
    <div class="d-flex justify-content-center align-items-center container">
        <div class="col-auto">
            <h1>Changez votre mot de passe</h1>
            {{ form_start(formMdp) }}
            {% for label, messages in app.flashes() %}
                {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                    </div>{% endfor %}
            {% endfor %}
            {{ form_row(formMdp.currentPassword) }}
            {{ form_row(formMdp.plainPassword.first) }}
            {{ form_row(formMdp.plainPassword.second) }}
            <div class="d-flex justify-content-between">
                <input type="submit" class="customBTN" value="Modifier" name="action">
                <a class="customBTN" href="{{ path('app_mon_profil') }}">Annuler</a>
            </div>
            {{ form_end(formMdp) }}
        </div>
    </div>
{% endblock %}